<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>期货交易员·管理后台</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<nav th:replace="manage/common/manageHeader :: header-navbar"></nav>
<div class="container">
    <!-- main content -->
    <main role="main">
        <div class="jumbotron">
            <h1>欢迎来到 后台管理</h1>
        </div>
    </main>
</div>
</body>
</html>