<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All qhUsers</title>
    <!--    设置网站的图标-->
    <link rel="icon" th:href="@{photos/favicon.png}" type="image/x-icon">
</head>
<body>
<h2>All QHUsers</h2>
<div th:unless="${#lists.isEmpty(allQHUser)}">
    <dl th:each="user: ${allQHUser}">
        <dt>
            <span th:text="${user.loginUserName}"></span>
            <span th:text="${user.nickname}"></span>
            <span th:text="${user.createDate}"></span>
        </dt>
    </dl>
</div>
<footer th:replace="manage/common/footer :: common-footer"></footer>
</body>
</html>