<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${article.contentTitle}">期货交易员</title>
    <!--    设置网站的图标-->
    <link rel="icon" th:href="@{/photos/favicon.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/js/common/jquery.min.js}"></script>
    <script th:src="@{/js/common/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body class="bg-light">
<div class="container">
    <div class="row">
        <div class="col-md-9 bg-white">
            <div class="pb-2 mt-2 mb-2 border-bottom">
                <h1 th:text="${article.contentTitle}">页面标题</h1>
            </div>
            <div th:utext="${article.contentText}"></div>
        </div>
        <div class="col-sm-3 mt-2 col-md-3 text-center">
            <h2 class="text-primary">爱期货</h2>
            <img class="rounded center-block img-thumbnail" src="http://140.143.204.224:4869/e7a4a9ac0a8bf5c10e1a4ed4b84c7293" alt="二维码 ">
        </div>
    </div>
</div>
<footer th:replace="manage/common/footer :: common-footer"></footer>
</body>
</html>